body,ul,p,h1,h2,h3,h4,h5,dl,dd,form,input,textarea,select{  padding: 0px;  margin: 0px;  font-family: Arial; }
li{  list-style: none;  }
image{border: none;}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
html{
    height: 100%;
    background: #CBD2E4;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background:url("images/body_bg3.png") repeat-x;

}

#xiugai-data{
    position: absolute;
    width: 300px;
    height: 150px;
    top:50%;
    left: 50%;
    margin:  -75px 0 0 -150px;
    background: #fff;
    border: 1px solid #CBD2E4;
    z-index: 5;
    text-align: center;
    border-radius: 4px;
    display: none;
}
#xiugai-data #xiugai-close{
    width: 15px;
    height: 15px;
    position:relative;
    left: 140px;
}
#xiugai-data #xiugai-name{
    border: 1px solid #CBD2E4;
    width: 150px;
    height: 30px;
    border-radius:3px;
    margin-top: 30px;
}
#xiugai-data #xiugai-button{
    width: 50px;
    height: 30px;
    border-radius:3px;
    margin-top: 20px;
    font-size: 15px;
    color: #fff;
    background: rgba(0,185,21,0.8);
    border: 0px;
}

#model-overlay{
    display: none;
    position: absolute;
    top: 0px;
    width:100%;
    height: 100px;
    background:gray;
    opacity: 0.5;
    z-index: 3;
}
#model-data{
    position: absolute;
    width: 600px;
    height: 460px;
    top: 50%;
    left: 50%;
    margin:  -230px 0 0 -300px;
    display: none;
    background: #fff;
    text-align: center;
    border-top: 3px solid #54A64B;
    border-left: 3px solid #54A64B;
    border-radius:5px;
    z-index: 4;
}
#model-data img{
    position: absolute;
    left: 560px;
    margin: 17px;
    width: 15px;
    height: 15px;
}

#model-data #data_title{
    margin-left: 197px;
    margin-top: 73px;
    width: 185px;
    height: 45px;
    border-bottom: 2px solid #54A64B;
    font-size: 20px;

}
#model-data .data{
    width: 260px;
    height: 35px;
    margin-top: 30px;
    border-radius:5px;
}

#model-data #captcha2{
    width: 200px;
    height: 35px;
    margin-top: 40px;
    margin-left: 170px;
}
#model-data #submit2{
    position: relative;
    width: 260px;
    height: 40px;
    margin: 20px;
    bottom: 20px;
    border-radius:5px;
    font-size: 15px;
    color: #fff;
    background: rgba(0,185,21,0.8);
}


#top {
    /*width: auto;*/
    height: 50px;
    margin: 0;
    background: #3E5C9A;
    position: relative;
    z-index: 1;

    flex: 0 0 auto;

}

#top a:hover{
    color:#95A6C2 ;
}



.top_logo li{
    float: left;
    line-height: 45px;
}
.top_logo  img{
    width: 100px;
    height: 40px;
    margin-left: 105px;
    margin-top: 3px;
}
#top_sb{
    width: 325px;
    height: 30px;
    margin-left: 45px;
}



.top_menu{
    float: left;
}
.top_menu ul ul {
    text-align: center;
    margin: 0;
    padding: 0;
    display: none;
}
.top_menu   a{
    color: #fff;
    font-size: 18px;
    line-height: 48px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right:20px;
    padding-left: 20px;

}

.top_menu .menu-title{
    float: left;
    position: relative;



}

.top_menu .menu-title .menu-list{
    width: 122px;
    position: absolute;
    left: 10px;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    background:rgba(147,165,195,0.5);

    display: none;
}
.top_menu  .menu-title .menu-list li{
    color: #3E5C9A;
}
.top_menu .menu-list li:hover{
    background:rgba(147,165,195,0.8);
}
.top_menu  .menu-title a{
    color: #ffffff;
    margin-top: 30px;
}
.top_menu #home{  margin-left: 95px;}


.top_bar{
    position: absolute;
    right: 0;
    top:0;
    float: right;
}
.top_bar li{
    float: left;
    font-size: 13px;
    line-height: 45px;
    margin-left: 10px;
    position: relative;
}

.top_bar .bar-list{
    position: absolute;
    left: -30px;
    width: 100px;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    padding: 0px;
    margin: 0px;
    background:rgba(147,165,195,0.5);
    display: none;
}
.top_bar .bar-list li{
    width: 100px;
    margin: 0px;
    color: #3E5C9A;

}

.top_bar .bar-list li:hover{
    background:rgba(147,165,195,0.8);
}

.top_bar img{width: 30px;height: 24px; margin-top: 10px;}
.top_bar a{color: #ffffff;margin-top: 30px;}
.top_bar .top_bar_login{margin-right: 20px;}

#body{
    width: 100%;
    padding-bottom: 50px;
    position: relative;
    z-index: 0;
    flex: 1 0 auto;
    background: url("images/zhuce_bg_logo.png") repeat-x;
}

#body .box{
    position:relative;
    width:900px;
    height: 400px;
    margin:10px auto;
}
#body .cont{
    height:400px;overflow:hidden;}
#body .box .item{
    background:rgba(147,165,195,0.5);
    font-size:70px;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    text-align:right;
    line-height:60px;
    height:60px;
}
#body .item a{
    margin-right:10px;
    cursor:pointer;
    color:#fff;
    text-shadow:0 0 3px
    rgba(147,165,195,0.8);}
#body a.seld {color:#5BAF14;}
#body a.hide {display:none;}

.body-left{
    float: left;
    border: 1px solid #CBD2E4;
    border-top: none;
    border-right: none;
    text-align: center;
    width: 250px;
    height: 100%;
    margin-bottom: 146px;
    margin-top: 320px;
}
.body-left #leftlist {
    float: left;
    border-top: none;
    border-bottom: none;
    width: 180px;
    background: rgba(147,165,195,0.5);
}
.body-left #leftclose{
    float: left;
    position: relative;
    width: 20px;
    left: 0px;
    top: 0;
    background: rgba(147,165,195,0.5);
    color: #000;
    font-size: 15px;
}

.body-left #leftlist .leftlist-btn{
    width: 80px;
    background: rgba(41,27,70,0.8);
    float: right;
    margin-right: 5px;
    /*display: none;*/
}
.body-left #leftlist img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.body-left #leftlist li:hover{
    background: rgba(147,165,195,1);

}
.body-left .body-nav{
    font-size: 15px;
    line-height: 50px;
    border-top: 1px solid #CBD2E4;

}
#body-center{
    width: 900px;
    float: left;

    margin-left: 20px;
    margin-right: 20px;
}
#body-center .center-play{
    height: 60px;
    width: 200px;
}
#body-center  .center-nav{
    height: 60px;
    border-bottom: 1px solid #CBD2E4;

}
#body-center .center-nav li{
    border: 1px solid #CBD2E4;
    border-bottom: 0;
    padding: 16px;
    margin: 0;
    font-size: 20px;
    color:rgba(0,185,21,0.5)
}

#body-center .center-nav li:hover{
    background: rgba(0,185,21,0.5);
    color: #fff;
}
#body-center .post{
    border-bottom: 1px solid #CBD2E4 ;

}
#body-center li{
    float: left;
    font-weight: bold;
    margin: 20px;
}





#body-center {
    border-left: 1px solid #95A6C2;
    border-right: 1px solid #95A6C2;
}

#body-center .center-nav{
    border-bottom: 1px solid #95A6C2;

}
#body-center .center-tab{
    margin-top: 10px;
}

#body-center .center-tab .tabcur{
    background:rgba(0,185,21,0.8);
    color: #fff;
}



#body-center .center-panel ul {
    height: auto;
    display: none;
}

#body-center .center-panel .cur{
    display: block;

}



#body-center .post-user span{
    float: left;

}

#body-center .post-photo{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
#body-center .list-right .post-bar{
    font-size: 15px;
    color: #797979;
}
#body-center .post-name{
    font-size: 20px;
    margin: 10px;
    margin-top: 40px;
}
#body-center .post-bar{
    font-size: 15px;
    margin: 10px;
}
#body-center a{
    color: black;
}
#body-center .title{
    border-top: 1px solid #CBD2E4;
    font-size: 18px;
    color: #3E5C9A;
    margin-top: 10px;
}
#body-center .desc {
line-height: 30px;

}
#body-center .image img{
    margin-top: 10px;
    width: auto;
    height: 100px;

}
#body-center .time{
    margin-top: 10px;
    font-size: 15px;
    color: #797979;
    float: left;
}
#body-center .num span{
    float: right;
    margin: 20px;
    color:#797979 ;
}







#body-right{
    width: 200px;
    float: left;
    margin-left: 40px;
}
#body-right .user{

    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 20px;
}
#body-right .like span{
    font-size: 15px;
    margin: 20px;
    color: #797979;
    line-height: 40px;

}
#body-right .paihang{
    margin-top: 100px;
    border-top: 1px solid #95A6C2;

    margin-left: 10px;
}
#body-right .paihang div{
    font-size: 20px;
    margin: 10px;
    margin-left: 0;
}
#body-right .pai-list li {
    list-style: decimal-leading-zero;
    line-height: 26px;
}
footer{
    font-size: 15px;
    flex: 0 0 auto;
    background:rgba(147,165,195,0.5);
}

footer div {
    float: left;
    margin-right: 200px;
    margin-top: 20px;
}
footer .foot1{
    margin-left: 15%;
}
footer li{
    margin-top: 5px;
    font-size: 12px;
    line-height: 30px;
}
footer a{
    color: black;
}







