body,ul,p,h1,h2,h3,h4,h5,dl,dd,form,input,textarea,select{  padding: 0px;  margin: 0px;  font-family: Arial; }
li{  list-style: none;  }
image{border: none;}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
/*body {background: #fff url("images/body-bg4.gif") repeat-x;}*/
body{background: #EBEEF5  ;}


#top {
    width: auto;
    height: 50px;
    margin: 0;
    background: #3E5C9A;
}

.top_logo li{
    float: left;
    line-height: 45px;
}
.top_logo  img{
    width: 100px;
    height: 40px;
    margin-left: 105px;
    margin-top: 3px;
}
#top_sb{
    width: 325px;
    height: 30px;
    margin-left: 45px;
}



.top_menu{ float: left;  }
.top_menu ul{
}
.top_menu li{
    float: left;
    font-size: 13px;
    line-height: 45px;
    padding-right:18px;
    margin-left: 25px;
}
.top_menu   a{
    color: #ffffff;
    margin-top: 30px;
}
.top_menu .home{ margin-left: 95px;}


.top_bar{ float: right;}
.top_bar li{
    float: left;
    font-size: 13px;
    line-height: 45px;
    margin-left: 25px;
}
.top_bar img{width: 30px;height: 24px; margin-top: 10px;}
.top_bar a{color: #ffffff;margin-top: 30px;}
.top_bar .top_bar_login{margin-right: 80px;}



#body{
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    border-top:  1px solid #CBD2E4;
}
#body-left{
    /*width: 30%;*/
    float: left;
    border: 1px solid #CBD2E4;
    border-top: none;
    border-right: none;
    text-align: center;
}
#body-left .left-ul {
    float: left;
    /*border: 1px solid #CBD2E4;*/
    border-top: none;
    border-bottom: none;
    width: 200px;
    margin-top: 200px;

}
#body-left .body-nav{
    font-size: 15px;
    line-height: 50px;
    border-top: 1px solid #CBD2E4;

}


#body-center{
    width: 60%;
    float: left;
    border-right: 1px solid #CBD2E4;
    border-left: 1px solid #CBD2E4;}


#body-center .center-play{
    height: 60px;
    width: 200px;

}
#body-center .box{position:relative;width:600px;margin:10px 50px;}
.cont{height:200px;overflow:hidden;}
.item{
    background:rgba(0,0,0,0.5);
    color:#fff;
    font-size:100px;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    text-align:right;
    line-height:80px;
    height:80px;
}
.item a{margin-right:10px;cursor:pointer;text-shadow:0 0 3px rgba(0,0,0,0.8);}
a.seld{color:#06C;}
a.hide{display:none;}

#body-center .center-nav{
    height: 60px;
    border-bottom: 1px solid #CBD2E4;

}
#body-center .post{
    border-bottom: 1px solid #CBD2E4 ;

}
#body-center li{
    float: left;
    font-weight: bold;
    margin: 20px;

}
#body-center .hot{
    font-size: 20px;
    color: #3E5C9A;
}

#body-center .post-user span{
    float: left;

}

#body-center .post-photo{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
#body-center .list-right .post-bar{
    font-size: 15px;
    color: #797979;
}
#body-center .post-name{
    font-size: 20px;
    margin: 10px;
    margin-top: 40px;
}
#body-center .post-bar{
    font-size: 15px;
    margin: 10px;
}
#body-center a{
    color: black;
}
#body-center .title{
    border-top: 1px solid #CBD2E4;
    font-size: 18px;
    color: #3E5C9A;
    margin-top: 10px;
}
#body-center .desc {
line-height: 30px;

}
#body-center .image img{
    margin-top: 10px;
    width: auto;
    height: 100px;

}
#body-center .time{
    margin-top: 10px;
    font-size: 15px;
    color: #797979;
    float: left;
}
#body-center .num span{
    float: right;
    margin: 20px;
    color:#797979 ;
}
#body-right{
    width: 20%;
    float: left;
    border-right: 1px solid #CBD2E4;
    border-bottom: 1px solid #CBD2E4;
}
#body-right .user{

    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #CBD2E4;


}
#body-right .like span{
    font-size: 15px;
    margin: 20px;
    color: #797979;
    line-height: 40px;

}
#body-right .paihang{
    margin-left: 10px;
}
#body-right .paihang div{
    font-size: 20px;
    margin: 10px;
    margin-left: 0;
}
#body-right .pai-list li {
    list-style: decimal-leading-zero;
    line-height: 26px;
}





