body,ul,p,h1,h2,h3,h4,h5,dl,dd,form,input,textarea,select{  padding: 0px;  margin: 0px;  font-family: Arial; }
li{  list-style: none;  }
image{border: none;}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
html{
    height: 100%;
    background: #CBD2E4;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background:url("images/body_bg3.png") repeat-x;

}

#top {
    /*width: auto;*/
    height: 50px;
    margin: 0;
    background: #3E5C9A;
    position: relative;
    z-index: 1;

    flex: 0 0 auto;

}

#top a:hover{
    color:#95A6C2 ;
}



.top_logo li{
    float: left;
    line-height: 45px;
}
.top_logo  img{
    width: 100px;
    height: 40px;
    margin-left: 105px;
    margin-top: 3px;
}
#top_sb{
    width: 325px;
    height: 30px;
    margin-left: 45px;
}



.top_menu{
    float: left;
}
.top_menu ul ul {
    text-align: center;
    margin: 0;
    padding: 0;
    display: none;
}
.top_menu   a{
    color: #fff;
    font-size: 18px;
    line-height: 48px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right:20px;
    padding-left: 20px;

}

.top_menu .menu-title{
    float: left;
    position: relative;



}

.top_menu .menu-title .menu-list{
    width: 122px;
    position: absolute;
    left: 10px;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    background:rgba(147,165,195,0.5);

    display: none;
}
.top_menu  .menu-title .menu-list li{
    color: #3E5C9A;
}
.top_menu .menu-list li:hover{
    background:rgba(147,165,195,0.8);
}
.top_menu  .menu-title a{
    color: #ffffff;
    margin-top: 30px;
}
.top_menu #home{  margin-left: 95px;}


.top_bar{
    position: absolute;
    right: 0;
    top:0;
    float: right;
}
.top_bar li{
    float: left;
    font-size: 13px;
    line-height: 45px;
    margin-left: 10px;
    position: relative;
}

.top_bar .bar-list{
    position: absolute;
    left: -30px;
    width: 100px;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    padding: 0px;
    margin: 0px;
    background:rgba(147,165,195,0.5);
    display: none;
}
.top_bar .bar-list li{
    width: 100px;
    margin: 0px;
    color: #3E5C9A;

}

.top_bar .bar-list li:hover{
    background:rgba(147,165,195,0.8);
}

.top_bar img{width: 30px;height: 24px; margin-top: 10px;}
.top_bar a{color: #ffffff;margin-top: 30px;}
.top_bar .top_bar_login{margin-right: 20px;}



#body{
    /*background: yellow;*/
    background: url("images/zhuce_bg_logo.png") repeat-x;
    flex: 1 0 auto;


    /*flex: 0 1 auto;*/
}
#body #body-bg{
    background:rgba(4,71,124,0.2);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
#body #body-bg #body-head{
    background: url("https://img.t.sinajs.cn/t5/skin/public/profile_cover/015.jpg") ;
    margin: 0 auto;
    width: 900px;
    height: 250px;
    text-align: center;
}
#body #body-bg #body-head #mylogo{
    margin-top: 20px;
    width: 100px;
    height: 100px;

}


#body #body-bg #body-center{
    /*background: #fff;*/
    width: 900px;
    margin: 0 auto;
    /*text-align: center;*/

}
#body-center #center-nav{
    background: #fff;
}
#body-center #center-nav #nav {
    background: #fff;
    width: 600px;
    height: 40px;
    margin: 0 auto;
}

#body-center #center-nav #nav li{
    background:#fff;
    float: left;
    width: 198px;
    height: 40px;
    /*border: 1px solid grey;*/
    margin: 0 auto;
    text-align: center;

}
#body-center #center-nav #nav p{
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    line-height: 40px;
    /*background: red;*/
    height: 40px;
    width: 70px;
    border-bottom: 2px solid #5BAF14;

}




#body-center #center-content{
    margin-top: 10px;
    /*background: yellow;*/

}
#body-center #center-content #content-left{
    float: left;
    width: 200px;
    height: 50px;
    background: #fff;
    /*margin-right: 10px;*/
}
#body-center #center-content #content-left #left-nav li{
    margin-top: 5px;
    float: left;
    width: 99px;
    text-align: center;

}
#body-center #center-content #content-right{
   float: right;
    background: red;
    width: 680px;

}


footer{
    /*border: 1px solid #000000;*/
    font-size: 15px;
    /*margin-top: 10px;*/
    /*height: 100px;*/
    width: 100%;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*background: blue;*/
    flex: 0 0 auto;

    background:rgba(147,165,195,0.5);
}

footer div {
    float: left;
    margin-right: 200px;
    margin-top: 20px;
}
footer .foot1{
    margin-left: 15%;
}
footer li{
    margin-top: 5px;
    font-size: 12px;
    line-height: 30px;
}
footer a{
    color: black;
}